<div id="inventory" class="earningsChart box" >
    <div class="titleParent">
        <h1>Total Earnings</h1>
    </div>
    <div id="chartContainer">
        <canvas id="myChart" width="800" height="440"></canvas>
        <script src="/chartCode.js" charset="utf-8" defer></script>
    </div>
</div>
