<div id="inventory" class="earningsChart box" >
    <div class="titleParent">
        <h1>Total Earnings</h1>
    </div>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="/chartCode.js" charset="utf-8" defer></script>
</div>
