<div id="gameDesc" class="box" >
    <div class="titleParent" >
        <h1>What is the store game?</h1>
    </div>
    <div>
        <p>The store game is an exciting new breakthrough in database technology! It connects to a lightning-fast Mongo-
            powered database that crunches all kinds of numbers and gets the data to you quickly and safely. The store game also has
            an advanced login system that is one of a kind! Play now and be rad!!!!
        </p>
    </div>
    <img src="images/placeholder.png" alt="Screenshot" />
</div>
