<div id="navBar">
    <span class="shadowedText">
        <div id="navBarName">The Store Game</div>
        <a class="navBarItem" href="/">Home</a>
        <a class="navBarItem" href="store">Manage</a>
        <a class="navBarItem" href="supplies">Stock Up</a>
        <a class="navBarItem" href="crafting">Crafting</a>
    </span>
    <span id="logLink" class="shadowedText">
        <!--For some god-forsaken reason, this won't stay on the page.-->
        <a class="navBarItem" href="#">Login</a>
    </span>
</div>

<div id="navShow">^</div>
