<div id="navBar">
    <span class="shadowedText">
        <a href="/">Home</a>
        <a href="store">Manage</a>
        <a href="supplies">Stock Up</a>
        <a href="crafting">Crafting</a>

    </span>
    <span id="logLink" class="shadowedText">
        <!--For some god-forsaken reason, this won't stay on the page.-->
        <a href="#" >Login</a>
    </span>
</div>

<div id="navShow">^</div>
