<!-- Feel free to make any changes I just need the script and something (doesn't need to be a button)
        with the id "sellButton" so I can get a click event attached.                                   -->
<script src="/store.js" charset="utf-8" defer></script>

<div id="inventory" class="box" >
    <div class="titleParent">
        <h1>Inventory</h1>
    </div>

    <table id="itemTable">
        <tbody>
            {{> tableCatagories}}
            {{#each items}}
                {{> item}}
            {{/each}}
        </tbody>
    </table>
    <div class="utilButtonParent" >
        <button id="sellAllButton" class="invUtilButton invButtonStyle" >Sell All</button>
        <button id="clearValuesButton" class="invUtilButton invButtonStyle" >Clear Values</button>
        <button id="sellButton" class="sellAndBuyButtons invButtonStyle" >Sell!</button>
    </div>
</div>
