<!-- Feel free to make any changes I just need the script and something (doesn't need to be a button) 
        with the id "sellButton" so I can get a click event attached.                                   -->
<script src="/store.js" charset="utf-8" defer></script>

<div id="inventory" >
    <div class="titleParent">
        <h1>Inventory</h1>
    </div>
    {{#each items}}
        {{> item}}
    {{/each}}
</div>
<button id="sellButton">Sell!</button>
