<div class="itemElement">
    <img class="itemImage" src={{img}} alt={{name}}/>
    <span class="itemDetails">
        Price:{{price}}<button>Change</button>
    </span>
    <span class="itemTitle">
        {{name}}
    </span>
</div>
