<div class="itemElement">
    <input type="text" class="priceInput" >{{price}}</input>
    <img class="itemImage" src="sprites/{{img}}" alt={{name}}/>
    <span class="itemTitle">{{name}}</span>
</div>
