<div class="itemElement">
    <img class="itemImage" src="sprite/{{img}}" alt={{name}}/>
    <span class="itemDetails">{{price}}<button>Change</button></span>
    <span class="itemTitle">
        {{name}}
    </span>
</div>
