<div class="itemElement" data="{{json .}}">
    <select class="itemDropdown">
    </select>
    <img class="itemImage" src="sprites/{{img}}" alt={{name}}/>
    <span class="itemTitle notItemImage">{{name}}</span>

</div>
