<div class="itemFrame">
    <div class="itemTitle">
        {{itemName}}
    </div>
    <img class="itemImage" src="sprites/{{imgSrc}}" alt={{itemName}}/>
    <div class="itemDetails">
        Price:{{itemPrice}}<button>Change</button>
    </div>
</div>
