<div id="leaderboard" class="box" >
    <div class="titleParent" >
        <h1>Leaderboard</h1>
    </div>
    <div class="leaderboardBody">
        {{#each users}}
            {{> user}}
        {{/each}}
    </div>
</div>
