<div id="backdrop" class="hidden" ></div>
<div id="loginModal" class="hidden">
  <div class="modalDialog">
    <div class="titleParent">
      <h1>Login</h1>
    </div>

    <div class="modalBody">
      <div class="loginInputParent">
        <label for="usernameInput">Username:</label>
        <input type="text" id="usernameInput" class="modalInput" ></input>
      </div>

      <div class="loginInputParent">
        <label for="passwordInput">Password:</label>
        <input type="password" id="passwordInput" class="modalInput" ></input>
      </div>
    </div>

    <div class="modalFooter">
      <button type="button" id="modalCancel" class="loginButton" >Cancel</button>
      <button type="button" id="modalLogin" class="loginButton" >Login</button>
    </div>
  </div>
</div>
