<div id="backdrop" class="hidden" ></div>
<div id="loginModal" class="hidden">
  <div class="modalDialog">
    <div class="modalHeader">
      <h3>Login</h3>
    </div>

    <div class="modalBody">
      <div class="usernameParent">
        <label for="usernameInput">Username</label>
        <input type="text" id="usernameInput"></input>
      </div>

      <div class="passwordParent">
        <label for="passwordInput">Password</label>
        <input type="password" id="passwordInput">
      </div>
    </div>

    <div class="modalFooter">
      <button type="button" id="modalCancel" class="modalHideButton">Cancel</button>
      <button type="button" id="modalLogin" class="actionButton">Login</button>
    </div>
  </div>
</div>
