
<!-- Feel free to make any changes I just need the script and something with the id "buyButton" so I can get a click event attached.
-->
<script src="/supplies.js" charset="utf-8" defer></script>


<div id="inventory" class="box" >
    <div class="titleParent">
        <h1>Supplies</h1>
    </div>
    <table id="tableDefault">
        <tbody>
            {{> tableCatagories}}
            {{#each itemsToDisplay}}
                {{> item index=@key}}
            {{/each}}
        </tbody>
    </table>

    <div class="utilButtonParent" >
        <!-- <button id="buyAllButton" class="invUtilButton invButtonStyle" >Buy All</button> -->
        <button id="clearValuesButton" class="invUtilButton invButtonStyle" >Clear Values</button>
        <button id="buyButton" class="sellAndBuyButtons invButtonStyle" >Buy!</button>
    </div>
</div>
