<script src="/supplies.js" charset="utf-8" defer></script>
<div id="inventory" >
    <div class="titleParent">
        <h1>Supplies</h1>
    </div>
    {{#each itemsToDisplay}}
        {{> item}}
    {{/each}}
</div>
<button id="buyButton">Buy!</button>
