
<!-- Feel free to make any changes I just need the script and something with the id "buyButton" so I can get a click event attached.
-->
<script src="/supplies.js" charset="utf-8" defer></script>


<div id="inventory" class="box" >
    <div class="titleParent">
        <h1>Supplies</h1>
    </div>
    <table id="itemTable">
        <tbody>
            {{> itemCatagories}}
            {{#each itemsToDisplay}}
                {{> item index=@key}}
            {{/each}}
        </tbody>
    </table>
    <button id="buyButton" class="sellAndBuyButtons" >Buy!</button>
</div>
