<tr style="background: white">
    <td class="indexCell">{{inc @index}}</td>
    <td id="leaderBoardUserName">{{name}}</td>
    <td id="leaderBoardEarnings" class="moneyText">${{totalEarnings}}</td>
</tr>
