<div class="page">
    {{> leaderboard}}
    <div id="inventory" >
        <div class="titleParent" >
            <h1>Inventory</h1>
        </div>
        <div class="itemFrame">
            <img class="itemImage" src="sprites/icon_01.png" alt={{name}}/>
            <span class="itemDetails">
                Price:$420<button>Change</button>
            </span>
            <span class="itemTitle">
                ItemName
            </span>
        </div>
    </div>

</div>
