<div class="page">
    {{> leaderboard}}
    <div id="inventory" >
        <div class="itemFrame">
            <div class="itemTitle">
                {{name}}
            </div>
            <img class="itemImage" src={{img}} alt={{name}}/>
            <div class="itemDetails">
                Price:{{price}}<button>Change</button>
            </div>
        </div>
    </div>

</div>
