<html>
    <!--Mockup for what the final page should look like. Figured it'd be easier to make templates after building the actual page.-->
    <head>
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <!--Top Menu, Sidebar, and Main Body don't have IDs because their tags will be unique already-->
        <!--Top Menu-->
        <nav>
            <span>
                <a href="home">Home</a>
                <a href="supplies">Stock Up</a>
                <a href="crafting">Crafting</a>
                <a href="store">Manage</a>
            </span>
            <span id="logLink">
                <!--For some god-forsaken reason, this won't stay on the page.-->
                <a href="#" >OVERFLOWINGTEXT</a>
            </span>
        </nav>

        <!--Sidebar-->
        <aside>
            Bananas!
            Lorem ipsum dolor amet health goth tattooed put a bird on it vice, asymmetrical lorem man braid. Hot chicken elit art party drinking vinegar occupy godard. Craft beer in selfies portland locavore fixie. Deserunt pitchfork la croix, small batch meh aliquip yuccie. Letterpress laborum photo booth messenger bag health goth, gastropub ad edison bulb ethical artisan intelligentsia knausgaard wayfarers normcore.

Tofu palo santo PBR&B, prism mumblecore neutra readymade YOLO. Mlkshk cold-pressed ut, la croix bushwick banh mi tofu enim quis echo park selvage. Poke consequat ut farm-to-table tattooed kale chips drinking vinegar pork belly PBR&B. Next level magna deserunt, copper mug salvia bushwick tattooed nostrud af. Next level biodiesel craft beer pitchfork deep v. Vaporware you probably haven't heard of them organic meh taiyaki heirloom. Jean shorts freegan before they sold out, bushwick helvetica bespoke master cleanse id put a bird on it.

Tacos pariatur selvage consequat readymade raw denim pok pok ea et. Photo booth before they sold out officia mustache nostrud chambray kale chips incididunt veniam banh mi small batch williamsburg ipsum. Vape prism disrupt magna veniam fanny pack id occaecat. Before they sold out tattooed single-origin coffee et, id shabby chic meditation ipsum. Raclette voluptate tofu waistcoat cornhole proident. Polaroid commodo readymade echo park, kitsch crucifix enim pariatur banh mi est messenger bag ipsum. Laborum four loko franzen fashion axe chambray ex.

Blue bottle beard ex, banjo mixtape sint plaid live-edge butcher dreamcatcher try-hard. Butcher aesthetic flexitarian irure vegan neutra waistcoat pickled quis. Ut knausgaard gastropub vice. Ex voluptate lorem chambray palo santo. Tousled selfies godard artisan palo santo.

Iceland fugiat sed, meggings bitters flexitarian viral post-ironic ex. Poutine lo-fi squid offal put a bird on it blue bottle stumptown celiac scenester schlitz yr bespoke PBR&B fingerstache bicycle rights. Kickstarter swag cardigan fanny pack. Messenger bag ethical tousled shaman voluptate next level organic. Sustainable organic tacos ullamco four loko nisi fixie.

Oh. You need a little dummy text for your mockup? How quaint.

I bet you’re still using Bootstrap too…
        </aside>

        <!--Main Body-->
        <main>
                Lorem ipsum dolor amet health goth tattooed put a bird on it vice, asymmetrical lorem man braid. Hot chicken elit art party drinking vinegar occupy godard. Craft beer in selfies portland locavore fixie. Deserunt pitchfork la croix, small batch meh aliquip yuccie. Letterpress laborum photo booth messenger bag health goth, gastropub ad edison bulb ethical artisan intelligentsia knausgaard wayfarers normcore.

                Tofu palo santo PBR&B, prism mumblecore neutra readymade YOLO. Mlkshk cold-pressed ut, la croix bushwick banh mi tofu enim quis echo park selvage. Poke consequat ut farm-to-table tattooed kale chips drinking vinegar pork belly PBR&B. Next level magna deserunt, copper mug salvia bushwick tattooed nostrud af. Next level biodiesel craft beer pitchfork deep v. Vaporware you probably haven't heard of them organic meh taiyaki heirloom. Jean shorts freegan before they sold out, bushwick helvetica bespoke master cleanse id put a bird on it.
                
                Tacos pariatur selvage consequat readymade raw denim pok pok ea et. Photo booth before they sold out officia mustache nostrud chambray kale chips incididunt veniam banh mi small batch williamsburg ipsum. Vape prism disrupt magna veniam fanny pack id occaecat. Before they sold out tattooed single-origin coffee et, id shabby chic meditation ipsum. Raclette voluptate tofu waistcoat cornhole proident. Polaroid commodo readymade echo park, kitsch crucifix enim pariatur banh mi est messenger bag ipsum. Laborum four loko franzen fashion axe chambray ex.
                
                Blue bottle beard ex, banjo mixtape sint plaid live-edge butcher dreamcatcher try-hard. Butcher aesthetic flexitarian irure vegan neutra waistcoat pickled quis. Ut knausgaard gastropub vice. Ex voluptate lorem chambray palo santo. Tousled selfies godard artisan palo santo.
                
                Iceland fugiat sed, meggings bitters flexitarian viral post-ironic ex. Poutine lo-fi squid offal put a bird on it blue bottle stumptown celiac scenester schlitz yr bespoke PBR&B fingerstache bicycle rights. Kickstarter swag cardigan fanny pack. Messenger bag ethical tousled shaman voluptate next level organic. Sustainable organic tacos ullamco four loko nisi fixie.
                
                Oh. You need a little dummy text for your mockup? How quaint.
                
                I bet you’re still using Bootstrap too…
        </main>
    </body>
</html>