<html>
    <!--Mockup for what the final page should look like. Figured it'd be easier to make templates after building the actual page.-->
    <head>
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body>
        <!--Top Menu, Sidebar, and Main Body don't have IDs because their tags will be unique already-->
        <!--Top Menu-->
        <nav>
            <span>
                <a href="home">Home</a>
                <a href="supplies">Stock Up</a>
                <a href="crafting">Crafting</a>
                <a href="store">Manage</a>
            </span>
            <span id="logLink">
                <!--For some god-forsaken reason, this won't stay on the page.-->
                <a href="#" >OVERFLOWINGTEXT</a>
            </span>
        </nav>
        <div id="navShow">^</div>

        <div id= pageTitle>{{pageTitle}}</div>

        <!--Sidebar-->
        <aside>
            {{Username}} <br/>
            Total Earnings: {{earnings}}<br/>
            Current bank: {{bank}}<br/>
            Global Rank: {{rank}}<br/>
            User since: {{joinDate}}<br/>
        </aside>

        <!--Main Body-->
        <main>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                <div class="itemFrame">
                        <div class="itemTitle">
                            {{itemName}}
                        </div>
                        <img class="itemImage" src={{imgSrc}} alt={{itemName}}/>
                        <div class="itemDetails">
                            Price:1000<button>Change</button>
                        </div>
                </div>
                                            
        </main>
    </body>
</html>